<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-3E6M0ZLQNB"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-3E6M0ZLQNB');
	</script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="img/logo.png">

	<title>Diffudle</title>

	<!-- Semantic CDN -->
	<link rel="stylesheet" type="text/css" href="semantic-ui/semantic.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="semantic-ui/semantic.min.js"></script>

	<!-- CSS File -->
	<link href="css/main.css" rel="stylesheet">

	

</head>

<body class="ui inverted segment">

	<!--Navigation-->
	<nav class="ui inverted menu">
		<a class="header black item" href="/">
			Diffudle
		</a>
		<div class="right menu">
			<button class="ui button teal create_btn" type="button" id="howToPlay">How to play</button>
			<button class="ui button teal create_btn" type="button" id="stats">Stats</button>
		</div>
	</nav>

	<!-- Heading -->
	<div class="ui container">
	<div class="ui inverted segment">
		<h1 class="ui huge centered aligned white bold header">
			WORDLE + STABLE DIFFUSION
		</h1>
	</div>
	</div>

	<!-- SD generated pic -->
	<div class="ui inverted segment">
		<img class="ui centered large rounded image" src="<%= question.image %>">
	</div>

	<!-- Attempts box -->
	<div class="ui container">
	<div class="ui inverted segment">	
		<p class="ui center aligned huge teal header"> Attempt No : <%=attemptNumber%> / 6
		</p>
		<div class="ui center aligned container">
			<button class="ui button yellow hint" type="button" >Hint</button>
		</div>	
	</div>
	</div>

	<!-- Prompt Text-->
	<div class="ui container">
		<div class="ui grid">
			<% for (var i=0;i< question.name.length;i++){ %>
				<% var boxId = "box-" + i%>
				<% if(question.name[i]=="/" ){ %>
					<div class="grey two wide mobile one wide tablet one wide computer column diffudle-space-box border-1" id=<%=boxId%>>
						<%=question.name[i].toUpperCase()%>
					</div>
				<%} else if(currentVisiblePosition.includes(i)){%>
					<div class="green two wide mobile one wide tablet one wide computer column diffudle-filled-box border-1" id=<%=boxId%>>
						<%=question.name[i].toUpperCase()%>
					</div>
				<%} else {%>
					<div class="bg-color two wide mobile one wide tablet one wide computer column diffudle-empty-box border-1" id=<%=boxId%>>
					</div>
				<%}%>
			<% } %>
		</div>
	</div>

	<!-- Style Text-->
	<div class="ui inverted segment">
		<p class="ui medium center aligned teal header"> STYLE: <%=question.style%>
		</p>
	</div>

	<!-- Virtual Keyboard -->
	<div class="ui container virtual-keyboard ">
		<div class=" ui centered grid virtual-keyboard-row">
			<input type="button" value="Q" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="W" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="E" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="R" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="T" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="Y" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="U" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="I" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="O" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="P" class="ui button teal virtual-keyboard-row-button">
		</div>
		<div class="ui centered grid virtual-keyboard-row ">
			<input type="button" value="A" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="S" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="D" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="F" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="G" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="H" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="J" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="K" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="L" class="ui button teal virtual-keyboard-row-button">
		</div>
		<div class="ui centered grid virtual-keyboard-row ">
			<input type="button" value="DELETE" class="ui button teal virtual-keyboard-row-button delete">
			<input type="button" value="Z" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="X" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="C" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="V" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="B" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="N" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="M" class="ui button teal virtual-keyboard-row-button">
			<input type="button" value="SUBMIT" class="ui button teal virtual-keyboard-row-button submit">
		</div>
	</div>

	<!-- Bottom White Space-->
	<div class="ui inverted segment">
		<p></p>
	</div>

	<!-- Stats Popup -->
	<div class="ui modal stats">
		<i class="close icon"></i>
		<div class="content">
			<% if(attemptNumber < 7 && success == true) {%>
			<h2 class="ui center aligned header">
				Congratulations! You win.
			</h2>
			<%} else if (attemptNumber >= 7){ %>		
			<h2 class="ui center aligned header">
				The quote was: <%=name%>.
			</h2>	
			<%}%>

			<h4 class="ui center aligned header">
				Statistics
			</h4>
			<div class="ui doubling four statistics">
				<div class="statistic">
					<div class="value">
						<%=summaryStats.Played%>
					</div>
					<div class="label">
						Played
					</div>
				</div>
				<div class="statistic">
					<div class="value">
						<%=summaryStats.WinPercentage%>%
					</div>
					<div class="label">
						Win Percentage
					</div>
				</div>
				<div class="statistic">
					<div class="value">
						<%=summaryStats.latestStreak%>
					</div>
					<div class="label">
						Latest Streak
					</div>
				</div>
				<div class="statistic">
					<div class="value">
						<%=summaryStats.maxStreak%>
					</div>
					<div class="label">
						Max Streak
					</div>
				</div>
			</div>

			<% if( success == true || attemptNumber >= 7) {%>
				<div class="ui divider"></div>

				<div class="ui center aligned container">
					<a class="ui twitter button" target="_blank" href= <%=twitterLink%>>
						<i class="twitter icon"></i>
						Share on Twitter
					</a>
				</div>
			<%}%>
			
		</div>
		
	</div>

	<!-- How To Play Popup -->
	<div class="ui modal howToPlay">
		<i class="close icon"></i>
		<div class="content">
			<h2 class="ui center aligned header">
				How To Play
			</h2>
			<div class="ui divider"></div>
			<h4 class="ui header">1. You are given an AI generated image by the "hidden" prompt below. Try to guess the prompt from the image.</h4>
			<h4 class="ui header">2. If you fail, you'll be given a different image generated by the same prompt.</h4>
			<h4 class="ui header">3. Meaningless words are valid inputs.</h4>
			<div class="ui divider"></div>
			<h3 class="ui header">A new puzzle is released every midnight.</h3>
			<div class="ui divider"></div>
			<h5 class="ui header">Have Feedback? Email us at feedback@diffudle.com</h5>
		</div>
	</div>

	<!-- Custom scripts for this template -->
	<script src="js/main.js"></script>

	<!-- After Scripts-->
	<% if( success == true || attemptNumber >= 7) {%>
		<script type="text/javascript">
			disableButton();
		</script>
	<%}%>

	<% if (newUserFlag == true) {%>
		<script type="text/javascript">
			autoHowToPlayPop();
		</script>
	<%}%>

</body>

</html>