<!DOCTYPE html>
<html lang="en">

	<%- include('partials/header.ejs') %>

	<body class="ui inverted segment">

		<%- include('components/navbar.ejs') %>

		<%- include('components/heading.ejs') %>

		<!-- SD generated pic -->
		<div class="ui inverted segment">
			<img class="ui centered large rounded image" src="<%= question.image %>">
		</div>

		<!-- Attempts box -->
		<div class="ui container">
			<div class="ui inverted segment">	
				<p class="ui center aligned huge teal header"> Attempt No : <%=attemptNumber%> / 6
				</p>
				<div class="ui center aligned container">
					<button class="ui button yellow hint" type="button" >Hint</button>
				</div>	
			</div>
		</div>

		<%- include('components/promptText.ejs') %>

		<!-- Style Text-->
		<div class="ui inverted segment">
			<p class="ui medium center aligned teal header"> STYLE: <%=question.style%>
			</p>
		</div>

		<!-- Virtual Keyboard -->
		<div class="ui container virtual-keyboard ">
			<div class=" ui centered grid virtual-keyboard-row">
				<input type="button" value="Q" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="W" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="E" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="R" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="T" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="Y" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="U" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="I" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="O" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="P" class="ui button teal virtual-keyboard-row-button">
			</div>
			<div class="ui centered grid virtual-keyboard-row ">
				<input type="button" value="A" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="S" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="D" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="F" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="G" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="H" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="J" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="K" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="L" class="ui button teal virtual-keyboard-row-button">
			</div>
			<div class="ui centered grid virtual-keyboard-row ">
				<input type="button" value="DELETE" class="ui button teal virtual-keyboard-row-button delete">
				<input type="button" value="Z" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="X" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="C" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="V" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="B" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="N" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="M" class="ui button teal virtual-keyboard-row-button">
				<input type="button" value="SUBMIT" class="ui button teal virtual-keyboard-row-button submit">
			</div>
		</div>

		<div class="ui inverted segment">
			<p></p>
		</div>
			

		<div class="ui container">
				<div class="ui inverted yellow progress" id="progressBar">
					<div class="bar">
						<div class="progress"></div>
					</div>
					<div class="label"> Players Solved This Challenge</div>
				</div>
		</div>

		


		<div class="ui inverted segment">
			<p></p>
		</div>

		<%- include('components/howToPlaySection.ejs') %>

		<!-- Bottom White Space-->
		<div class="ui inverted segment">
			<p></p>
		</div>
		<div class="ui inverted segment">
			<p></p>
		</div>

		<%- include('components/statsPopup.ejs') %>

		<!-- Custom scripts for this template -->
		<script src="js/main.js"></script>

		<!-- After Scripts-->
		<% if( success == true || attemptNumber >= 7) {%>
			<script type="text/javascript">
				disableButton();
			</script>
		<%}%>

		<script type="text/javascript">
			var gameSolvingPercentage = <%=gameSolvingPercentage%>;
			setProgressBar(gameSolvingPercentage);
		</script>

	</body>

</html>